[View in Colaboratory](https://colab.research.google.com/github/vicortez/data_science_ufrn/blob/master/introduction/data_science_1_python_introduction.ipynb)


# Ciência de Dados
Prof. Luiz Affonso Guedes
Engenharia de Computação - UFRN
2018-2

# Introdução à Linguagem Python

Objetivo: apresentação das funcionalidades básicas da linguagem Python


Conteúdo:
- Caracterização da Linguagem Python
- Vantagens
- Saída de dados
- cálculos básicos
- tipo lista
- importação de pacotes

- Python é uma linguagem de propósito geral - às vezes referida como utilitária - que é projetada para ser simples de ler e escrever. O seu objetivo é ser uma linguagem simples, porém completa.
- Linguagem interpretada não tipada.
- Liguagem estruturada, mas possui suporte a orientação a objetos.

Uma introdução aos conceitos básicos de Python. Saiba como usar o Python de forma interativa e através de um script. Crie suas primeiras variáveis e familiarize-se com os tipos básicos de dados do Python.

In [0]:
# Comentário em Python
# Imprimir mensagem em Python
print("Alô, mundo!")
print(5 / 8)
print(3 * 5)
print(7 + 10)
5 -2

Alô, mundo!
0.625
15
17

3

In [0]:
a = 2
a

2

Operadores Lógicos:
    - AND --> &  and
    - OR --> | or
    - not

In [0]:
# Exemplo de uso de operadores lógicos

a = True
b = False
print(a and b)
print (a & b)
print (a or b)
print (a | b)
print(not a)

False
False
True
True
False

In [0]:
# Exemplo de uso do print
print ("a = %d b = %d" % (10 ,20))
print("alô, mundo", "Estou estudando Python", "tenho", 24, "anos")

a = 10 b = 20
alô, mundo Estou estudando Python tenho 24 anos

O Python é perfeitamente adequado para fazer cálculos básicos. Além da adição, subtração, multiplicação e divisão, também há suporte para operações mais avançadas, tais como:
- Exponenciação: **. 
   - Este operador eleva o número à esquerda para o poder do número à sua direita. Por exemplo, 4 ** 2 dará 16.
- Modulo:%. Este operador retorna o restante da divisão do número à esquerda pelo número à direita. Por exemplo, 18% 7 é igual a 4.
- Divisão inteira: //
   - 3/2, dará 1.

In [0]:
# Exemplo de uso da Exponenciação
print(4 ** 2)

# Exemplo de Módulo
print(18 % 7)

# Exemplo de Divisão Inteira
print(3 // 2)

16
4
1

In [0]:
# Exercício 01
print("Se você tomou um empréstimo de R$1.000,00 com taxa de juros de 20% ao ano, após 04 anos qual é o valor de sua dívida?")
emprestimo = 1000.0
taxa = 0.2
anos = 4
divida = emprestimo *(1+taxa)**anos
print("Minha dívida é de ", divida, "reais, depois de ", anos,"anos." )

Se você tomou um empréstimo de R$1.000,00 com taxa de juros de 20% ao ano, após 04 anos qual é o valor de sua dívida?
Minha dívida é de  2073.6 reais, depois de  4 anos.

Variáveis e Tipos em Python
- Em Python, uma variável permite que você se refira a um valor com um nome. Para criar uma variável use =, como este exemplo:

x = 5

Agora você pode usar o nome dessa variável, x, em vez do valor real, 5.

Lembre-se, = em Python significa atribuição, não igualdade!

In [0]:
x=5
x
y = 3
y

3

In [0]:
print(x)

5

In [0]:
 x == 6
X = 3

In [0]:
#Exercício 02
print("Qual é o valor da variável x?")
print("A variável x é igual a ", x)
print("Qual é o valor da variável X?")
print("A variável X é igual a ", X)

In [0]:
# Exercício 03
print("Reescreva o Exercício 01 utilizando variáveis")
valor = 
taxa_juros = 
anos = 
dívida = 
print(divida)

In [0]:
# Exercício 04
print("Calcule o Índice de Massa Copórea (IMC)")
ruido1 = 5
ruido2 = .05
peso = 51 + ruido1
altura = 1.58 - ruido2

IMC = peso /altura**2

print(IMC)

Os tipos das variáveis são definidos dinamicamente em Python.
- Tipos Básicos em Python
    - int --> Inteiro
    - flot --> ponto flutuante
    - str --> String
    - bool --> Booleano (True, False)

In [0]:
# Exercício 05
Nome_aluno = "John Milk"
nota = 3.8
bom_aluno = True
idade = 22
print("Escreva no console os valores dessas variáveis")

In [0]:
# Exercício 06
print("O que ocorre se se somar um int com um float?")
a = 2
b = 1.1
c = a+b
print(c)

In [0]:
# Exercício 07
print("O que ocorre se se somar duas strings?")
Nome = "Maria"
Sobrenome = "Clara"
Nome_Completo = Nome + " " + Sobrenome
Nome_Completo

In [0]:
# Exercício 08
print("É possível somar um int com um str?")
Nome = "Maria"
Idade = 18
Nome + Idade

In [0]:
# Exercício 09
# Use a função type(variavel) para obter o tipo da variável.
x1 = 1
x2 = "aeiou"
x3 = False
print(type(x1))
print(type(x2))
type(x3)

Para se converter tipos em outros, em Python se utiliza as seguintes funções:
- str(variavel) <-- converte variavel para string
- int(variavel) <-- converte variavel para inteiro
- float(variavel) <-- converte variavel para ponto flutuante
- bool((variavel) <-- converte variavel para booleano

In [0]:
# Exercício 10
# Escreva um programa que converta uma variável "idade" que é inteiro  em string.
Idade = 22
Nome = "João "
# A saída de ser --> João tem 22 anos.
print(Nome + str(Idade))

In [0]:
# Curiosidade
"Eu sou " + ("ga")*3 + "go"

In [0]:
# Curiosidade
# Teste essas opções
#False + True
#False * True
False - True

Tipo list
- tipo complexo, que representa uma lista de outras variáveis, não necessariamente de mesmo tipos.
- As variáveis podem ser listas. No caso, teremos listas de listas

Exemplo:

lista1 = [1,2,3]

lista2 = ["Maria", "1.66", 22, True]  #[Nome, Altura, Idade, Boa_estudante]

In [0]:
# Lista com variáveis de mesmo tipo
# Áreas dos cômodos (em metros quadrados)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Criação da lista areas
areas = [hall, kit, liv, bed, bath]

# Print areas
print(type(areas))
print(areas)

In [0]:
# Lista com variáveis de diferentes tipos
# Áreas dos cômodos (em metros quadrados)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Criação da lista areas
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print areas
print(areas)

In [0]:
# Lista de Lista
# variáveis de área variables (em metro quadrado)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# informação sobre metragem da casa como lista de lista
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]
         ]

# Print a variaável house

print(house)

# Print o tipo da variável house

print(type(house))

In [0]:
# Exercício 11
# Crie 01 lista Familia, que é composta por 04 listas: Pai, Mae, Filho, Filha.
# Essas listas têm as variáveis Nome (str), Idade (int), Peso (float), Altura (float)
#sexo (bool) True-feminino, False-Masculino
Pai = ["Joao",56,83.2,1.72,False]
Mae = ["Maria",48,65.1,1.63,True]
Filho = ["William",26,81.1,1.5,False]
Filha = ["Tamara",19,56.8,1.3,True]
Familia = [Pai,Mae,Filho,Filha]
print(Familia)

Acessado elementos de uma lista
- list[n]  --> retorna a variável da posição n. O primeiro índice é o ZERO
- list[n1:n2] --> retorna uma sub-lista da posição n1 até a posição n2-1
- list[:n] --> retorna uma sub-lista da posição ZERO até n-1
- list[n:] --> retorna uma sub-lista da posição n até o final da lista

In [0]:
# Exemplos
lista = [1,2,3,4,5,6]
#lista[0]
#lista[2]
#lista[7]
#lista[-1]
#lista[-2]
#lista[1:3]
lista[:3]
lista[:]

In [0]:
#Exercício 12

# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print o segundo elemento da lista
print(areas[1])

# Print o valor do último elemnto da lista
print(areas[6])

# Print o valor da área do living room
print(areas[5])

# Print o valor da área total da casa 
print(areas[1]+areas[3]+areas[5])

In [0]:
# Dica
x = [["a", "b", "c"],
     ["d", "e", "f"],
     ["g", "h", "i"]]
print(x[2][0])
print(x[2][:2])

In [0]:
#Exercício 13 - Homework1
# Dado o Exercício 11.
# Crie uma lista denominada de Nomes que contenha os nomes do Pai, Mae, Filho e Filha da lista Familia

nomes = 
nomes

In [0]:
#Exercício 14 - Homework2
# Dado o Exercício 11.
# Crie uma lista denominada de Filhos que contenha apenas as informações de Filho e Filha da lista Familia

In [0]:
#Exercício 15 - Homework3
# Dado o Exercício 11.
# Calcule o peso médio do pesos das pessoas da lista Familia. 
# Armazene o resultado na variável peso_medio
????
print(peso_medio)

Modificar elementos de uma lista
- lista[elemento] = novo_valor

Incluir elementos em lista
- lista3 = lista1 + lista3

Remover Elementos em Lista
- del(lista[elemento])

In [0]:
# Exercício 16 - Homework
# Dado o Exercício 11
# Inclua mais uma filho, denominado Filho2 na lista Familia

print(Familia)

In [0]:
# Exercício 17 - Homework
# Dado o Exercício 11
# Remova Filho da lista Familia
# O que ocorre com os índices da lista Familia?

print(Familia)

In [0]:
# Exercício 18
# Remova pela ordem a string "poolhouse" e o valor de sua área
areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]
del(areas[10:12])
#del(areas[10])
print(areas)

In [0]:
# Cópia de lista: diferença entre atribuição e cópia de listas
# Criação de lista
lista1 = [11.25, 18.0, 20.0, 10.75, 9.50]

# Atribuição e copia de listas
#lista2 = lista1
lista2 = list(lista1)
#lista2 = lista1[:]

# Modificação na lista
lista2[0] = 5.0

# Print lista1
print(lista1)

Função em Python
- Há diversas funções úteis já disponíveis em Python
    - type(variavel)
    - print(variavel)
    - str(variavel); float(variavel); ...
    - max(variavel)
    - min(variavel)
    - mean(variavel)
    - round(valor,precisao), round(valor)
    - complex(valor)
    - sorted(iterable, key, reverse)
    - help(funcao)

In [0]:
# Exemplos
# Criar variáveis var1 e var2
var1 = [1, 2, 3, 4]
var2 = True

# Print tipo (type) de var1
print(type(var1))

# Print o tamanho de var1
print(len(var1))

# Converter var2 paar um inteiro: out2
out2 = int(var2)

In [0]:
help(max)

In [0]:
?max

In [0]:
# Teste essas opções e conclua com funciona o número complexo
complex()
complex(1)
complex(1,2)

In [0]:
# Execute o comando help()
help(sorted)

In [0]:
# Exemplo
# Criar duas listas:first e second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# Unir as duas listas na lista full
full = first + second

# Ordenar a lista full em ordem decrscente e armazenar o resultado na lista full_sorted
#full_sorted = sorted(full, reverse = True)
full_sorted = sorted(full)

# Print a lista full_sorted
print(full_sorted)

# Investigue se não se utilizar o parâmetro reserve

# Qual é a utilidade do parâmetro key?

Em Python, todos os tipos de variáveis são classe.
- As variáveis são objetos de classes específicas

Assim, todas as variáveis possuem métodos específicos.
- Os métodos são funções pertencentes a objetos

Para acessar métodos, devemos utilizar a seguinte sintase:
- variavel.metodo(parametros)

Métodos da classe String

- As strings possuem com um monte de métodos específicos.
- Para verificar mais detalhadamente, você sempre pode digitar help (str) no IPython Shell.

In [0]:
# Exemplo
# string room
room = "poolhouse"

# Use o método upper() sobre a string room. Armazene a resposta em room_up
room_up = room.upper()

# Print as strings room e room_up
print(room)
print(room_up)

# Print o número de ocorrência da letra "o" na string room
print(room.count("o"))

In [0]:
Alguns métodos de Listas
- lista.index(parametro)
- lista(count(parametro))
- append()
- remove(), remove o primeiro elemento da lista que casa com o parâmetro
- reversed(), reverte a ordem dos elementos

In [0]:
frase = "socorram me subi no onibus em marrocos"
print(frase[::-1])
frase1 = "o po de cocaina mata maniaco cedo po"
print(frase1[::-1])

In [0]:
# Criar a lista areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Print o índice do elemento 20.0 na lista
print(areas.index(20.0))

# Print a quantidade de vezes que 14.5 apareace em areas

print(areas.count(14.5))

In [0]:
# Exercício 19 Homework
#Criar a lista areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Use o método append duas vezes para incluir os valores 24.5 e 15.45 no final da lista areas

???????

# Print a lista areas
?????

# Invera a ordem dos elementos na lista areas via o método reserve
?????

# Print a lista areas
print(areas)

Módulos em Python
- Modulos agrupam funções, métodos e tipos específicos

Pacotes são implementações Módulos disponíveis em Python 
- Há centenas de pacotes disponíveis em Python.

Importação de Pacotes em Python (importa todo o pacote)
- import pacote_desejado
- import math

Para usar funções do pacotes:
- pacote_desejado.metodo_desejado(parametros)
- pacote_desejado.variavel_desejada
- math.pi

Para importar apenas um módulo específico de um pacote, utilizamos:
- from pacote_desejado import modulo_desejado

Exemplo: importa só o pacote sqrt do pacote math

- from math import sqrt    
- print(sqrt(25))

Ao utilizar "from package import item", o item pode ser um subpacote, submódulo, classe, função ou variável.

In [0]:
# Exemplo
# Importar pacote math 
import math

# Definição de raio
r = 0.43


# Cálculo de C
C = 2 * r * math.pi

# Cálculo de A
A = math.pi * r ** 2

# print valores da Circunferência e Área
print("Circunferência: " + str(C))
print("Área: " + str(A))

In [0]:
dir(math)

In [0]:
# Exemplo
# Definição do raio
r = 192500

# Importar apenas a função radians do pacote math
from math import radians 

# Calcular o arco correspondente a 12 graus.

arco = r* radians(12)

# Print o valor de arco
print(arco)

In [0]:
# Exemplo
# Definição do raio
r = 192500

# Importar apenas a função radians do pacote math, redefinindo o nome da função
from math import radians as mariana

# Calcular o arco correspondente a 12 graus.

arco = r* mariana(12)

# Print o valor de arco
print(arco)

Alguns exemplos de funções matemáticas:
- import math

In [0]:
#Exemplos de Uso
import math
print(math.exp(1.0))
print(math.pi)
print(math.e)
print(math.cos( math.pi))
teta = 0.7
y = math.sin(teta) ** 2 + math.cos(teta) ** 2
print(y)

Comando de Controle de Fluxo
- If

    if (condição_lógica):
         comando_1
         comando_2
         ...
         comando_n

- If-then-Else

    if (condição_lógica):
         comando_1
         comando_2
         ...
         comando_n
     else:
         comando_k1
         comando_k2
         ...
         comando_kn

Descubra o erro do programa abaixo

In [0]:
# Exemplo de uso do comando if

a = 34
if a > 0:
print ("a is positive ")

In [0]:
# Exemplo de uso do comando if
a = 34
if a > 0:
 print ("a é positivo ")
print("Identação é FUNDAMENTAL em Python")

In [0]:
# Exemplo de uso do comando if-else
a = 34
if a > 0:
  print ("O valor de a é positivo")
else :
  print ("O valor de a não é positivo")

In [0]:
# Exemplo de uso do comando if-elif-else
a = 17
if a == 0:
 print ("a is zero ")
elif a < 0:
 print ("a is negative ")
else :
 print ("a is positive ")

Comando de repetição (loops)
- Comando for

    for (variavel) in (sequencia):
       comando_1
       comando_2
       ...
       comando_n
- Comando while
    
    while (condicao):
       comando_1
       comando_2
       ...
       comando_n

In [0]:
# Exemplos de uso do comando for
print("Primeiro print")
for i in range(2,5):
    print(i)
print("Segundo print")
for i in range(5):
    print(i)
print("Terceiro print")
lista = ["p", "y", "t", "h", "o", "n"]
for item in lista:
    print (item)

In [0]:
# Exemplo de uso do comando for
for x in [1,2,3]:
 print(x)

In [0]:
# Exemplo de uso do comando for
print("Uso do enumerate para se obter índice numérico")
for indice, valor in enumerate(["p", "y", "t", "h", "o", "n"]):
    print (indice, valor)

In [0]:
#Exemplo - É possível implementar do comando "for" via lista
lista1 = [x**2 for x in range(0,5)]
print(lista1)

In [0]:
#Exemplo - É possível implementar do comando "for" via lista
lista2 = [True, "2", 3.0, 4]
[type(item) for item in lista2]

In [0]:
# Exemplo de uso do comando while
count = 0
while count <= 5:
    print(count)
    count += 1

In [0]:
# Exemplo de uso do comando while com break
count = 0
while count <= 5:
    print(count)
    count += 1
    if count > 3: break

In [0]:
# Comando else no final de um loop é executado após o término do loop
#
# Loop while
#
count = 0
while count <= 5:
    print(count)
    count += 1
    if(count == 3):break
else:
    print('após iteração')

#
# Loop for
#
for i in range(5):
    print(i)
else:
    print('após iteração')

Definição de Função em Python
    
    def funcao(lista_parametros):
       comando_1
       comando_2
       ...
       comando_n
       return(variavel_de_saida)

In [0]:
def hello(meu_nome):
  print('Olá,',meu_nome, ".")

In [0]:
hello("John Snow. You now nothing!")

Olá, John Snow. You now nothing! .

In [0]:
def hello(meu_nome,idade):
  print('Olá, ',meu_nome,'\nSua idade é:',idade)

In [0]:
hello("João da Silva", 21)

In [0]:
def calcular_pagamento(qtd_horas, valor_hora):
    horas = float(qtd_horas)
    taxa = float(valor_hora)
    if horas <= 40:
        salario=horas*taxa
    else:
        h_excd = horas - 40
        salario = 40*taxa+(h_excd*(1.5*taxa))
    return (salario)

In [0]:
# Exemplo de função com valor de retorno
def calcular_pagamento(horas, taxa):
 salario=float(horas)*float(taxa)
 return (salario)

In [0]:
total_salario = calcular_pagamento(40,20)
print('O valor de seus rendimentos é R$',total_salario)

In [0]:
str_horas= input('Digite as horas: ')
str_taxa=input('Digite a taxa: ')

In [0]:
print(str_horas)
print(str_taxa)
float_horas = float(str_horas)
float_taxa = float(str_taxa)

In [0]:
print(float_horas)
print(float_taxa)
total_salario = calcular_pagamento(float_horas,float_taxa)
print('O valor de seus rendimentos é R$',total_salario)

In [0]:
# Exemplo de função - retorno mais de uma variável
print("Programa com exemplo para função que retorna mais de uma variável.")
def powers(x):
 #Retorna o quadrado, o cubo e a quarta potência de um dado número x."""
 return x ** 2, x ** 3, x ** 4
print(powers(2))
x2, x3, x4 = powers(3)
print("x2=",x2," x3=",x3,"x4=", x4)

Na definição de uma função, podemos dar defaults nos argumentos da função

In [0]:
# Exemplo de função - Valores Default em funçã

print("Exemplo de uso de função com parámetros 'default'")

def myfunc(x, p=2, debug=False):
  if debug:
   print("Mensagem do módulo debug da função myfunc para x = " + str(x) + " elevado " + str(p))
  return x**p

print(myfunc(5))
print(myfunc(5, debug=True))
print(myfunc(p=3, debug=True, x=5))
print(myfunc(5, 3))
print(myfunc(5, 3, True))
print(myfunc(5, 3, False))

Exemplo de uso de função com parámetros 'default'
25
Mensagem do módulo debug da função myfunc para x = 5 elevado 2
25
Mensagem do módulo debug da função myfunc para x = 5 elevado 3
125
125
Mensagem do módulo debug da função myfunc para x = 5 elevado 3
125
125

Em Python, também podemos criar funções sem nome, usando a palavra-chave lambda:

- nome_da_funcao  = lambda <parametro>: comandos

In [0]:
# Exemplo de uso de função sem nome - Lambda Function
# f1 e f2 são equivalentes

f1 = lambda x: x**2


def f2(x):
 return x**2

In [0]:
f1(2), f2(2)

(4, 4)

Esta técnica é útil, por exemplo, quando queremos passar uma única função como um argumento para outra Função.

Considere a função map(f, s), que aplica a função f para todos os elementos da sequência s.

In [0]:
# Exemplo de uso da função map(),que retorna um objeto genérico
def f(x):
    return (x ** 2)
lista2 = map(f, range (-3,4))
list(lista2)

[9, 4, 1, 0, 1, 4, 9]

In [0]:
# Exemplo de uso da função map() com função anônima - lambda
lista3 = map(lambda x: x**2, range(-3,4))
list(lista3)

[9, 4, 1, 0, 1, 4, 9]

Uso de Classes e Objetos:

- As classes são as principais características da programação orientada a objetos. 
- Uma classe é uma estrutura para representar um objeto e as operações que podem ser realizadas sobre ele. Assim, uma classe pode conter atributos (variáveis) e métodos (funções).
- Uma classe é definida quase como uma função, mas usando a palavra-chave  "classe".
- A definição da classe geralmente contém uma série de método de classe (uma função em uma classe).
- Cada método de classe deve ter um argumento denominado de "self" como primeiro argumento. Isto é uma auto-referência ao objeto.
- Alguns nomes de métodos de classe têm um significado especial, por exemplo:
    - _init_: construtor da classe - O nome do método que é invocado quando o primeiro objeto é criado.
    - _str_: Um método que é invocado quando uma representação de uma string da classe é necessária, como, por exemplo, quando deseja-se usar um print().

In [0]:
# Criação da Classe Ponto
class Ponto:  
 def __init__(self, x, y):
  self.x = x
  self.y = y
 
 def translacao(self, dx, dy):
  self.x += dx
  self.y += dy
    
 def __str__(self):
  return("O ponto está no posição [%f, %f]" % (self.x, self.y))

In [0]:
# Criação de um objeto p1 da classe Ponto 
p1 = Ponto(0, 0) 
print(p1)

O ponto está no posição [0.000000, 0.000000]

In [0]:
p2 = Ponto(1, 1)
p1.translacao(0.25, 1.5)
print(p1)
print(p2)
print(p1.x, p1.y)
print(p2.x, p2.y)

O ponto está no posição [0.250000, 1.500000]
O ponto está no posição [1.000000, 1.000000]
0.25 1.5
1 1

In [0]:
# Exercício - inclua os seguintes métodos na Classe Ponto
# rotacao(angula_em_radiano), sem retorno
# distancia(Ponto ponto1), retorna a distância do ponto dado (parâmetro) ao ponto

### Tipo de Dado Dicionário em Python

- Dicionário é um tipo de coleção, como lista, porém poderem usar qualquer tipo imutavel de dados como indice.Isto é feito a partir de uma chave, que pode ser qualquer tipo imutável, para um valor, que pode ser qualquer objeto de dados do Python.
- Uma maneira de criar um dicionario é comecando com um dicionário vazio e depois adiconar elementos. Um dicionário vazio é denotado assim {}:

In [0]:
# Exemplo: dicionário de Portugues para Ingles

por_Para_ing = {}    # início do dicionário
por_Para_ing['um'] = 'one'
por_Para_ing['dois'] = 'two'
por_Para_ing

{'dois': 'two', 'um': 'one'}

In [0]:
por_Para_ing['um']

'one'

In [0]:
por_Para_ing['três'] = 'three'
por_Para_ing

{'dois': 'two', 'três': 'three', 'um': 'one'}

In [0]:
# Exemplo: dicionário de Portugues para Ingles
ing_Para_por = {'one': 'um', 'two': 'dois', 'three': 'três'}
ing_Para_por

{'one': 'um', 'three': 'três', 'two': 'dois'}

In [0]:
# Comandos
- del       Remove um par chave-valor de um dicionário
- len       Retorna a quantidade de itens

In [0]:
len(ing_Para_por)

3

In [0]:
ing_Para_por

{'one': 'um', 'three': 'três', 'two': 'dois'}

In [0]:
del(ing_Para_por['three'])
ing_Para_por

{'one': 'um', 'two': 'dois'}

Dicionários possuem vários métodos nativos úteis.
    - keys()  	 	Retorna uma vista das chaves no dicionário
    - values()  	Retorna uma vista dos valores no dicionário
    - items() 	    Retorna uma vista dos pares chave-valor no dicionário
    - get(key) 	    Retorna o valor associado com a chave; ou None
    - items()       Retorna os dois valores, na forma de uma lista de tuplas - cada tupla com um par chave-valor

In [0]:
por_Para_ing.keys()

dict_keys(['um', 'dois'])

In [0]:
por_Para_ing.values()

dict_values(['one', 'two'])

In [0]:
por_Para_ing.get('um')

'one'

In [0]:
# Exemplo de uso de dicionários
inventario = {'abacaxis': 430, 'bananas': 312, 'laranjas': 525, 'peras': 217}

In [0]:
inventario

{'abacaxis': 430, 'bananas': 312, 'laranjas': 525, 'peras': 217}

In [0]:
inventario['bananas'] = 311

In [0]:
inventario

{'abacaxis': 430, 'bananas': 311, 'laranjas': 525, 'peras': 217}

In [0]:
# Exemplo de uso de Dicionário
aluno = {
    "nome": "joao",
    "matricula": 2015200101,
    "idade": 39,
    "habilidades": ['python', 'java', 'c/c++']
}

In [0]:
print(aluno['nome'])
print(aluno['idade'])
print (aluno['habilidades'])

joao
39
['python', 'java', 'c/c++']

Uso de Módulo

- Um dos conceitos mais importantes na boa programação é reutilizar o código e evitar repetições.
- A idéia é escrever funções e classes com um propósito e um escopo bem definidos e reutilizá-los em vez de repetir código similar em uma parte diferente de um programa (programação modular). O resultado é geralmente que a legibilidade e a manutenção de um programa são muito melhoradas. O que isso significa na prática é que nossos programas têm menos erros, são mais fáceis de estender e depurar / solucionar problemas.
- O Python suporta programação modular em diferentes níveis. Funções e classes são exemplos de ferramentas para programação modular de baixo nível. Os módulos Python são uma construção de programação modular de nível superior, onde podemos coletar variáveis, funções e classes relacionadas em um módulo.
- Um módulo python é definido em um arquivo python (com o ponto final do arquivo .py) e pode ser acessível a outros módulos e programas Python usando a instrução import.